body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #fffafa
}

head h2{
 font-family: 'Fira Mono';
 margin: auto;
 position: sticky;
}

.App {
  width: 1400px;
}

.innerApp {
  margin:50px 50px 50px 150px;
}

.AppComAndViolation{
  margin:50px 50px 50px 150px;
}
.list-group {
  list-style: none;
  width: 700px;
  margin-left: 10px;
}

.list-group-violation {
  width: 600px;
}

.list-group .list-group-item a:hover,
a:active {
  background: rgb(241, 237, 237);
  border-color: #e1d6d6;
  border-style: solid;

}

.list-group .list-group-item a:link,
a:visited {
  color: black;
  border: 2px solid rgb(167, 204, 167);
  padding: 12px 20px 12px 40px;
  text-align: center;
  text-decoration: none;
  margin: 10px 5px 5px 10px;
  flex-direction: row;
  text-align: left;
  cursor: auto;
  display: block;
  background: rgb(243, 233, 233);
  box-shadow: none;
  box-sizing: border-box;
  -webkit-transition: width 0.4s ease-out;
  transition: width 0.4s ease-out;
 

}

body input {
  width: 250px;
  box-sizing: border-box;
  margin: 10px 5px 5px 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-out;
  transition: width 0.4s ease-out;
}

body button {
  padding: 12px 20px 12px 40px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: rgb(166, 166, 175);
  border-radius: 15px;
}

button:hover {
  background-color: rgb(29, 29, 31);
}

button:active {
  background-color: rgb(197, 198, 214);
  transform: translateY(4px);
}

button img {
  height: 20px;
  width: 35px;
}

.container > div {
  background-color: #f1f1f1;
}

.AppComAndViolation .form-control {
  width: 50%;
}

.list-group .list-group-item .address {
  padding: 10px;
}

.commentList {
  width: 50%;
  border: 1px solid #eec9c9;
  background-color: rgb(255, 255, 255)
}
.commentList li {
  word-wrap: break-word;
}

.date {
  margin-left: 470px;
  font-size: 12px;
}

.violationdate
{
  margin-left: 470px;
  font-size: 12px;
}

.comment {
  margin: 20px;
}

#title{
  margin-left: -2.5px;
}

.list-group-item{
  border: 1px solid #eec9c9;
}

.btn-md{
  background-color: #eec9c9;
  color: #ecf1ea;
  border-color: #dff0d8
}

.innerApp input{
  width: 210px;
  height: 30px;
}

.form-group{
  margin: 0px 0px 0px -150px;
}

